.content{
    text-align: cente;
    align-items: center;
    display: inline-flexbox;
    background-color:#5c648a;
    color: #d9dbed;
    border-radius: 5% ;
    height: 550px;
    width: 700px;
    margin: auto;
    padding: 30px 30px 30px 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

input{
    width: 90%;
    padding: 12px;
    margin: 20px;

}
.flashes{
    align-items: center;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 2px;
    text-align: center;
    
}

.flashes .error {
    color: red;
    border: 1px;
    border: red;
}

.flashes .success {
    color: green;
    border: 1px;
    border: green;
}

button{
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px;
    background-color: #d9dbed;
    

}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

ul{
    list-style: none;
}