<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas viagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Lista de viagens</h1> 
  Viagens Registradas: {{ nViagens }} 

  {% if viagemRealizada %}
        <h2>Viagens Realizadas</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Avaliação</th>
                </tr>
            </thead>
            <tbody>
                {% for viagem in viagemRealizada %}
                <tr>
                    <td>{{ viagem.destino }}</td>
                    <td>{{ viagem.data }}</td>
                    <td>{{ viagem.desc }}</td>
                    <td>{{ viagem.avaliacao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  {% else %}
      <p>Não há viagens realizadas.</p>
  {% endif %}

  <br><br>

  <h2>Viagens Não Realizadas</h2>
  {% if viagemNaoRealizada %}
        <table border="1">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Avaliação</th>
                </tr>
            </thead>
            <tbody>
                {% for viagem in viagemNaoRealizada %}
                <tr>
                    <td>{{ viagem.destino }}</td>
                    <td>{{ viagem.data }}</td>
                    <td>{{ viagem.desc }}</td>
                    <td>{{ viagem.avaliacao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  {% else %}
      <p>Não há viagens não realizadas.</p>
  {% endif %}

  <br>
  <form action="/excluir-lista">
    <button class="button" type="submit">Excluir lista</button>
    <button><a href="{{ url_for('user.add') }}">Adicionar viagem</a></button>
  </form>

</body>
</html>
